.header {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 4rem 2.4rem;
  width: 100vw;
  height: 6rem;
  gap: 5rem;
  background-color: transparent;
  transition: all 0.3s;
  z-index: 99;
}

.scrolled {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}

:global([data-theme="light"]) .scrolled {
  background: rgba(201, 200, 200, 0.8);
}

@media (min-width: 75em) {
  .header {
    justify-content: space-between;
  }
}
