.locationIndicator {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 2.4rem;
  color: var(--neutral-9);

  position: absolute;
  top: 45%;
  left: 10;

  transform: translateY(-10px);
  opacity: 1;
  pointer-events: none;
  transition: all 0.3s;
}

.locationIndicator svg {
  width: 3rem;
  height: 3rem;
  color: var(--primary-7);
}

span {
  white-space: nowrap;
}

.hidden {
  opacity: 0;
  transform: translateY(0);
  pointer-events: auto;
}
