.icon {
  width: 10rem;
  height: 10rem;
  aspect-ratio: 1 / 1;
  clip-path: circle(50%);
}

.iconContainer {
  display: flex;
  align-items: center;

  justify-content: center;
  object-fit: cover;
}

:global([data-theme="light"]) .icon {
  background-color: var(--primary-2);
}
